# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
Exercice1/node_modules
Exercice2/node_modules
Exercice3/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
Exercice1/.idea/
Exercice2/.idea/
Exercice3/.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
Exercice1/.vscode/*
Exercice2/.vscode/*
Exercice3/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
